

body {
  margin: 0px;
}


.is-sticky {
  overflow:hidden;
  background-color: #E8CEC6;
  padding: 10px 20px;
  display : block;
  white-space: nowrap;
  position: fixed;
  
}



.header {
  overflow:hidden;
  background-color: #E8CEC6;
  padding: 10px 20px;
  display : block;
  white-space: nowrap;
  
}


.header img.menulogo {
  width: 100px;
  position: relative;
}


.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}




input[type=”text” i]{
  padding: 8px 20px;
  border-radius: 50px;
  background-color: #123;
  border-color: white;
  margin-right: 30px;
  border: 0;
}


.menu-button{
  border-radius: 50px;
  margin: 10px;
  background-color: #44251C;
  color: #EADEBD;
}




.header a.logo {
  font-size: 50px;
  font-weight: bold;
  width: 50px;
  padding: 0 !important;
}




.header-right {
  float: right;
  display: flex;
  align-items: center;
  position: relative;
  right: 100px;
}
.menu {
  float: left;
  display: flex;
  height: 50px;
  width: 50px;
  margin-left: 100px;
  top:10px;
  align-items: center;
  position: relative;
}

.search-container{
  display: flex;
  align-items: center;
  max-width: fit-content;
  position: relative;
  min-width: 20px;
  left: 25%;
  top: 10px;
}
#fixed { 
  position: sticky;
    top: 0px;
    z-index: 1;
}

.shopcart {
  width: 50px;
  height: 50px;
  margin: 10px;
}
