.Baket {
    background-color: #f9ddca;
    width: 800px;
    height: fit-content;
    margin:50px;
    vertical-align: middle;
    display: inline-block;

}
.Baket-tab {
    background-color: #e8cec6;
    height: 100px;
}
.Baket-tab Button {
    background-color: #FCC58C;
    border: 1px solid #FCC58C; 
    color: #C07651; 
    cursor: pointer; 
    width: 350px;
    display: block;
    position: relative;
    left:420px;
    top: 34px;


}
.Baket-tab Button:hover {
    background-color: #44251C !important;
    border-color: #44251C !important; 
    color: whitesmoke !important; 
 
}