.Baket {
    background-color: #f9ddca;
    display: inline-block;
    width: 800px;
    height: 800px;
    margin:50px

}
.Baket-tab {
    background-color: #e8cec6;
    height: 100px;
}
.Baket-tab Button {
    background-color: #FCC58C;
    border: 1px solid #FCC58C; 
    color: #C07651; 
    cursor: pointer; 
    width: 350px;
    display: block;
    position: relative;
    left:420px;
    top: 34px;


}
.Baket-product {
    background-color: #E8CEC6;
    height: 100px;
    border-bottom: 3px solid #FCC58C; 
    border-top: 3px solid #FCC58C; 
    display: block;
}
.Baket-product img {
    background-color: #E8CEC6;
    height: 100px;
    width:calc(20%);
    float: left;
    border: 1px solid #FCC58C; 
}
.Baket-name {
    width:calc(50%);
    height: 100px;
    left:calc(20%);
    position: relative;
    align-content: left;
    border-right: 3px solid #FCC58C; 
    display: block;
}
.Baket-name div {
    font-size: 16px;
    font-family: tahoma, sans-serif;
    color: #44251c;
    position: relative;
    text-align:start;
    height: calc(50%);


}
.Baket-count {
    width:calc(20%);
    height: calc(30%);
    float: right;
    position: relative;
    left: 153px;
    bottom: 40px;
}
.Baket-count div {
    display: inline;
    font-size: 16px;
    font-family: tahoma, sans-serif;
    color: #44251c;
    margin-left: 10px;
    margin-right: 10px;
}
.Baket-count Button {
    display: inline;
    background-color: #FCC58C;
    color: #C07651; 
    cursor: pointer; 
    width: fit-content;
}
.Baket-button{
    float: right;
    position: relative;
    bottom: 90px;
    background-color: #FCC58C;
    border: 1px solid #FCC58C; 
    color: #C07651; 
    cursor: pointer; 
    width: 150px;
    margin-right: 20px;
    display: block;
}