.Product {
    background-color: #E8CEC6;
    width: 250px;
    height: 300px;
    margin: 30px;
    display: inline-block;
    border: 1px solid #44251C;
}
.Product img {
    height: calc(45%);
    width: calc(100%);
}
.shop {
    display: block;
    height:calc(100% - 120px) ;
    width: calc(100% - 350px);
    float: right;
}
.Product-rating div {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.Product-rating {
    margin: 0;
    background-color: #44251C;
    color: whitesmoke;
    margin-top: 0px;
    bottom: 4px;
    position: relative;
    font-size: 18px;
    font-family: tahoma, sans-serif;

}
.Product-border {
   margin-right: 2px;
   right: 8px;
   position: relative;
}
.Product-end {
    border-left: 3px solid #C07651;
    padding-left: 15px;
}
.Product-name {
    font-size: 16px;
    font-family: tahoma, sans-serif;
    color:#44251C;
    text-decoration: none;
    
}
.Product-buy img {
   width: calc(100%);
   height: calc(100%);
   color: #000;
}
.Product-cost div{
    display: inline-block;
    font-size: 16px;
    font-family: tahoma, sans-serif;
    width: 80px;
    margin-right: 30px;
    margin-top: 40px;
    color: #44251C;
}
.Product-cost Button{
    display: inline-block;
    width: 80px;
    height: 60px;
    background-color: #FCC58C;
    color:#44251C;
}
.Product-cost Button:hover{
    display: inline-block;
    width: 80px;
    height: 60px;
    background-color: #FCC58C !important;
    color:#44251C !important;
    border-color: #44251C !important;
}