.leftsidebar {
    background-color: #f9ddca;
    width:  fit-content ;
    height: 1600px;
    align-items:center;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    display : block;
    float: left;
    
}
.leftsidebar Button {
    background-color: #FCC58C;
    border: 1px solid #FCC58C; 
    color: #C07651; 
    cursor: pointer; 
    width: 350px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.leftsidebar Button:hover {
    background-color: #44251C !important;
    border-color: #44251C !important; 
    color: whitesmoke !important; 
 
}
.leftsidebar div {
    font-family: tahoma, sans-serif;
    font-size:18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #44251C;
}