.filter {
    background-color: #f9ddca;
    display: block;
    width: calc(100% - 350px);
    float: right;
    height: 60px;
}
.filter Button {
    background-color: #FCC58C;
    border: 1px solid #FCC58C; 
    color: #C07651; 
    cursor: pointer; 
    width: 350px;
    display: block;
    margin-top: 14px;
    margin-right: 30px;
    float: right;

}
.filter Button:hover {
    background-color: #44251C !important;
    border-color: #44251C !important; 
    color: whitesmoke !important; 
 
}