.RegFormPage {
    width: 800px;
    height: fit-content;
    background-color: #f9ddca;
    margin: 0px auto;
    vertical-align: middle;
    padding-bottom: 40px;
    position: relative;
    top: 100px
}
.wrapper-regform {
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    width: auto;
    height: fit-content;
    min-height: calc(100%);
    align-content: center;
    vertical-align: center;
}
.RegForm-logo {
    background-color: #E8CEC6;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: tahoma, sans-serif;
    color:  #44251c;
    font-weight:bold;
}
.RegForm {
    font-size: 20px;
    font-family: tahoma, sans-serif;
    color:  #44251c;
    display: block;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.RegForm div {
    vertical-align: middle;
    display: inline-block;
    width: calc(30%);
}
.RegForm input {
    vertical-align: middle;
    display: inline-block;
    width: calc(50%);
    height: 40px;
    border-style: none;
    border-color: #44251C;
    font-size: 18px;
    font-family: tahoma, sans-serif;
    color: #44251c;
}
.RegFormPage button {
    height: 60px;
    background-color: #FCC58C;
    color:#44251C;
    font-size: 18px;
    font-family: tahoma, sans-serif;
    color: #44251c;
    width: calc(60%); 
    border-color: #FCC58C;
    border-style: none;
}
.RegFormPage button:hover {
    background-color: #44251C !important;
    border-color: #44251C !important; 
    color: whitesmoke !important; 
    border-color: #44251C;
    
 
}
.Error-RegForm {
    width: calc(30%);
    margin: 0px auto;
    height: fit-content;
    position: relative;
    font-size: 16px;
    font-family: tahoma, sans-serif;
    color:  #44251c;

}